<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
        integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
        integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
        integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
        integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
        crossorigin="anonymous"></script>
    <title>Document</title>
</head>
<body><br><br><br><br><br>

    <table class="table table-dark">
        <script>  
        
        </script>
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">ID</th>
            <th scope="col">firt name</th>
            <th scope="col">last name</th>
            <th scope="col">Pay_Amount</th>
            <th scope="col">Phone Number</th>
            <th scope="col">Giới tính</th>
          </tr>
        </thead>
        <tbody>
            <% var sumgioitinhnam=0 , sumall=0 , sumgioitinhnu=0 %> 
            <% dashboardE.forEach(function(dbE){  %> 
                <% dashboardH.forEach(function(dbH){  %>
                   <%  if(dbE.Employee_Number == dbH.Employee_ID[0]){ %> 
                    <tr>
                        <th scope="row">1</th>
                        
                        <td><%= dbE.Employee_Number %></td>
                        <td><%= dbE.First_Name %></td>
                        <td><%= dbE.Last_Name %></td>
                        <td><%= dbE.Pay_Amount %></td>
                        <td><%= dbH.Phone_Number[0] %></td>
                        <% if(dbH.Gender == true) {%> 
                            <td>Nam</td>
                            <% sumgioitinhnam+= dbE.Pay_Amount%> 
                        <% }else{ %> 
                            <td>Nữ</td>
                            <% sumgioitinhnu+= dbE.Pay_Amount%> 
                        <% } %> 
                        <% sumall+= dbE.Pay_Amount%> 
                      </tr>
                  <%   } %>  
            <% }) %> 
            <% }) %> 
          
        </tbody>
      </table>
      <H1>Tổng lương của nhân viên có giới tính là nam: <%=sumgioitinhnam  %> </H1>
      <H1>Tổng lương của nhân viên có giới tính là nữ: <%=sumgioitinhnu %> </H1>
      <H1>Tổng lương của tất cả nhân viên: <%=sumall %> </H1>
</body>

</html>