<link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
<!------ Include the above in your HEAD tag ---------->

<!DOCTYPE html>
<html>

<head>
  <title></title>
  <link rel="stylesheet" type="text/css" href="/stylesheets/login.css">


</head>

<body
  background="http://orig11.deviantart.net/20eb/f/2015/030/6/f/_minflat__dark_material_design_wallpaper__4k__by_dakoder-d8fjqzu.jpg">
  <div class="login-page">

    <div class="form">
      <form class="login-form" method="POST" action="gologin">
        <input id="demo" name="username" placeholder="username" value="" />
        <input id="pass" name="password" placeholder="password" value="" />
        <button type="submit" onclick="dangnhap() "  >login</button>
        
        <script type="text/javascript">

          function dangnhap() {
            var demo = document.getElementById("demo").value;
            if (demo.trim() == ""){
                
                alert("Không được để trống") // cái ni trong html có mà :v
      
            }
              
            else {
              document.getElementById("demo").style.border = "thick solid #FF0000	";
              document.getElementById("pass").style.border = "thick solid #FF0000	";
            }
          }
        </script>
        
 
        <p class="message">Not registered? <a href="/register">Create an account</a></p>
      </form>
    </div>
  </div>
</body>

</html>