<!DOCTYPE html>
<html dir="ltr" lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!-- Tell the browser to be responsive to screen width -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <!-- Favicon icon -->
    <link rel="icon" type="image/png" sizes="16x16" href="../../assets/images/favicon.png">
    <title>Nice admin Template - The Ultimate Multipurpose admin template</title>
    <!-- Custom CSS -->
    <link href="../../dist/css/style.min.css" rel="stylesheet">
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
<![endif]-->
</head>

<body>
    <!-- ============================================================== -->
    <!-- Preloader - style you can find in spinners.css -->
    <!-- ============================================================== -->
    <div class="preloader">
        <div class="lds-ripple">
            <div class="lds-pos"></div>
            <div class="lds-pos"></div>
        </div>
    </div>
    <!-- ============================================================== -->
    <!-- Main wrapper - style you can find in pages.scss -->
    <!-- ============================================================== -->
    <div id="main-wrapper" data-navbarbg="skin6" data-theme="light" data-layout="vertical" data-sidebartype="full" data-boxed-layout="full">
        <!-- ============================================================== -->
        <!-- Topbar header - style you can find in pages.scss -->
        <!-- ============================================================== -->
        <% include ../partials/header %>
        <!-- ============================================================== -->
        <!-- End Topbar header -->
        <!-- ============================================================== -->
        <!-- ============================================================== -->
        <!-- Left Sidebar - style you can find in sidebar.scss  -->
        <!-- ============================================================== -->
        <% include ../partials/menu %>
        <!-- ============================================================== -->
        <!-- End Left Sidebar - style you can find in sidebar.scss  -->
        <!-- ============================================================== -->
        <!-- ============================================================== -->
        <!-- Page wrapper  -->
        <!-- ============================================================== -->
        <div class="page-wrapper">
            <!-- ============================================================== -->
            <!-- Bread crumb and right sidebar toggle -->
            <!-- ============================================================== -->
            <div class="page-breadcrumb">
                <div class="row">
                    <div class="col-5 align-self-center">
                        <h4 class="page-title">Basic Table</h4>
                    </div>
                    <div class="col-7 align-self-center">
                        <div class="d-flex align-items-center justify-content-end">
                            <nav aria-label="breadcrumb">
                                <ol class="breadcrumb">
                                    <li class="breadcrumb-item">
                                        <a href="#">Home</a>
                                    </li>
                                    <li class="breadcrumb-item active" aria-current="page">Basic Table</li>
                                </ol>
                            </nav>
                        </div>
                    </div>
                </div>
            </div>
            <!-- ============================================================== -->
            <!-- End Bread crumb and right sidebar toggle -->
            <!-- ============================================================== -->
            <!-- ============================================================== -->
            <!-- Container fluid  -->
            <!-- ============================================================== -->
            <div class="container-fluid">
                <!-- ============================================================== -->
                <!-- Start Page Content -->
                <!-- ============================================================== -->
                <div class="row">
                    <div class="col-12">
                        <div class="card">
                            <div class="card-body">
                                <h4 class="card-title">Database Pay_roll</h4>
                                <h6 class="card-subtitle">Using the most basic table markup, here’s how <code>.table</code>-based tables look in Bootstrap. All table styles are inherited in Bootstrap 4, meaning any nested tables will be styled in the same manner as the parent.</h6>
                                <h6 class="card-title m-t-40"><i class="m-r-5 font-18 mdi mdi-numeric-1-box-multiple-outline"></i> Employee</h6>
                                <div class="table-responsive">
                                    <table class="table">
                                        <thead>
                                            <tr>
                                                <th scope="col">Employee_Number</th>
                                                <th scope="col">idEmployee</th>
                                                <th scope="col">First_Name</th>
                                                <th scope="col">Last_Name</th>
                                                <th scope="col">SSN</th>
                                                <th scope="col">Pay_Rate</th>
                                                <th scope="col">PayRates_id</th>
                                                <th scope="col">Vacation_Days</th>
                                                <th scope="col">Paid_To_Date</th>
                                                <th scope="col">Paid_Last_Year</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr>
                                                
                                                <% dashboardE.forEach(function(dbE){  %> 
                                                    <% dashboardH.forEach(function(dbH){  %>
                                                       <%  if(dbE.Employee_Number == dbH.Employee_ID[0]){ %> 
                                                        <tr>
                                                                                                                
                                                            <td><%= dbE.Employee_Number %></td>
                                                            <td><%= dbE.idEmployee %></td>
                                                            <td><%= dbE.First_Name %></td>
                                                            <td><%= dbE.Last_Name %></td>
                                                            <td><%= dbE.SSN %></td>
                                                            <td><%= dbE.Pay_Rate %></td>
                                                            <td><%= dbE.PayRates_id %></td>
                                                            <td><%= dbE.Vacation_Days %></td>
                                                            <td><%= dbE.Paid_To_Date %></td>
                                                            <td><%= dbE.Paid_Last_Year %></td>
                                                          </tr>
                                                      <%   } %>  
                                                <% }) %> 
                                                <% }) %> 
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                                <h6 class="card-title"><i class="m-r-5 font-18 mdi mdi-numeric-2-box-multiple-outline"></i> Pay_rate</h6>
                            </div>
                            <div class="table-responsive">
                                <table class="table">
                                    <thead>
                                        <tr>    
                                            <th scope="col">idPay_Rates</th>
                                            <th scope="col">Pay_Rate_Name</th>
                                            <th scope="col">Value</th>
                                            <th scope="col">Tax_Percentage</th>
                                            <th scope="col">Pay_Type</th>
                                            <th scope="col">Pay_Amount</th>
                                            <th scope="col">PT_Level_C</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                             
                                            <% dashboardE.forEach(function(dbE){  %> 
                                                <% dashboardH.forEach(function(dbH){  %>
                                                   <%  if(dbE.Employee_Number == dbH.Employee_ID[0]){ %> 
                                                    <tr>
                                                                                                            
                                                        <td><%= dbE.Employee_Number %></td>
                                                        <td><%= dbE.Pay_Rate_Name %></td>
                                                        <td><%= dbE.Value %></td>
                                                        <td><%= dbE.Tax_Percentage %></td>
                                                        <td><%= dbE.Pay_Type %></td>
                                                        <td><%= dbE.Pay_Amount %></td>
                                                        <td><%= dbE.PT_Level_C %></td>
                                                      </tr>
                                                  <%   } %>  
                                            <% }) %> 
                                            <% }) %> 
                                        </tr>
                                        
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                 
                </div>
                <div class="row">
                    <div class="col-12">
                        <div class="card">
                            <div class="card-body">
                                <h4 class="card-title">Database HR</h4>
                                <h6 class="card-subtitle">Using the most basic table markup, here’s how <code>.table</code>-based tables look in Bootstrap. All table styles are inherited in Bootstrap 4, meaning any nested tables will be styled in the same manner as the parent.</h6>
                                <h6 class="card-title m-t-40"><i class="m-r-5 font-18 mdi mdi-numeric-1-box-multiple-outline"></i> Personal</h6>
                                <div class="table-responsive">
                                    <table class="table">
                                        <thead>
                                            <tr>
                                                <th scope="col">Employee_ID</th>
                                                <th scope="col">First_Name</th>
                                                <th scope="col">Last_Name</th>
                                                <th scope="col">Middle_Initial</th>
                                                <th scope="col">Address1</th>
                                                <th scope="col">Address2</th>
                                                <th scope="col">City</th>
                                                <th scope="col">State</th>
                                                <th scope="col">Zip</th>
                                                <th scope="col">Email</th>
                                                <th scope="col">Phone_Number</th>
                                                <th scope="col">Social_Security_Number</th>
                                                <th scope="col">Drivers_License</th>
                                                <th scope="col">Marital_Status</th>
                                                <th scope="col">Gender</th>
                                                <th scope="col">Shareholder_Status</th>
                                                <th scope="col">Benefit_Plans   </th>
                                                <th scope="col">Ethnicity</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr>
                                                
                                                <% dashboardE.forEach(function(dbE){  %> 
                                                    <% dashboardH.forEach(function(dbH){  %>
                                                       <%  if(dbE.Employee_Number == dbH.Employee_ID[0]){ %> 
                                                        <tr>                                                                                                               
                                                            <td><%= dbH.Employee_ID[0] %></td> 
                                                            <td><%= dbH.First_Name %></td> 
                                                            <td><%= dbH.Last_Name %></td> 
                                                            <td><%= dbH.Middle_Initial %></td> 
                                                            <td><%= dbH.Address1 %></td> 
                                                            <td><%= dbH.Address2 %></td> 
                                                            <td><%= dbH.City %></td> 
                                                            <td><%= dbH.State %></td> 
                                                            <td><%= dbH.Zip %></td> 
                                                            <td><%= dbH.Email %></td> 
                                                            <td><%= dbH.Phone_Number[0] %></td> 
                                                            <td><%= dbH.Social_Security_Number %></td> 
                                                            <td><%= dbH.Drivers_License %></td> 
                                                            <td><%= dbH.Marital_Status %></td> 
                                                            <td><%= dbH.Gender %></td> 
                                                            <td><%= dbH.Shareholder_Status %></td>   
                                                            <td><%= dbH.Benefit_Plans %></td>    
                                                            <td><%= dbH.Ethnicity %></td>                                                              
                                                          </tr>
                                                      <%   } %>  
                                                <% }) %> 
                                                <% }) %> 
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                                <h6 class="card-title"><i class="m-r-5 font-18 mdi mdi-numeric-2-box-multiple-outline"></i> Job_History</h6>
                                <div class="table-responsive">
                                    <table class="table">
                                        <thead>
                                            <tr>
                                                <th scope="col">ID</th>   
                                                <th scope="col">Employee_ID</th>        
                                                <th scope="col">Department</th>        
                                                <th scope="col">Division</th>        
                                                <th scope="col">Start_Date</th>        
                                                <th scope="col">End_Date</th>        
                                                <th scope="col">Job_Title</th>        
                                                <th scope="col">Supervisor</th>        
                                                <th scope="col">Job_Category</th>        
                                                <th scope="col">Location</th>        
                                                <th scope="col">Departmen_Code</th>        
                                                <th scope="col">Salary_Type</th>        
                                                <th scope="col">Pay_Period</th>        
                                                <th scope="col">Hours_per_Week</th>        
                                                <th scope="col">Hazardous_Training</th>                                                    
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr>
                                                
                                                <% dashboardE.forEach(function(dbE){  %> 
                                                    <% dashboardH.forEach(function(dbH){  %>
                                                       <%  if(dbE.Employee_Number == dbH.Employee_ID[0]){ %> 
                                                        <tr>                                                                                                               
                                                            <td><%= dbH.ID %></td> 
                                                            <td><%= dbH.Employee_ID %></td> 
                                                            <td><%= dbH.Department %></td> 
                                                            <td><%= dbH.Division %></td> 
                                                            <td><%= dbH.Start_Date %></td> 
                                                            <td><%= dbH.Job_Title %></td> 
                                                            <td><%= dbH.Supervisor %></td> 
                                                            <td><%= dbH.Location %></td> 
                                                            <td><%= dbH.Departmen_Code %></td> 
                                                            <td><%= dbH.Salary_Type %></td> 
                                                            <td><%= dbH.Pay_Period %></td> 
                                                            <td><%= dbH.Hours_per_Week %></td> 
                                                            <td><%= dbH.Hazardous_Training %></td>                                                                                                                      
                                                          </tr>
                                                      <%   } %>  
                                                <% }) %> 
                                                <% }) %> 
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                                <h6 class="card-title m-t-40"><i class="m-r-5 font-18 mdi mdi-numeric-3-box-multiple-outline"></i> Employment</h6>
                                <div class="table-responsive">
                                    <table class="table">
                                        <thead>
                                            <tr>
                                                <th scope="col">Employee_ID</th>      
                                                <th scope="col">Employment_Status</th> 
                                                <th scope="col">Hire_Date</th> 
                                                <th scope="col">Workers_Comp_Code</th> 
                                                <th scope="col">Termination_Date</th> 
                                                <th scope="col">Rehire_Date</th> 
                                                <th scope="col">Last_Review_Date</th> 
                                                                                      
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr>
                                                
                                                <% dashboardE.forEach(function(dbE){  %> 
                                                    <% dashboardH.forEach(function(dbH){  %>
                                                       <%  if(dbE.Employee_Number == dbH.Employee_ID[0]){ %> 
                                                        <tr>                                                                                                               
                                                            <td><%= dbH.Employee_ID %></td>    
                                                            <td><%= dbH.Employment_Status %></td>       
                                                            <td><%= dbH.Hire_Date %></td>       
                                                            <td><%= dbH.Workers_Comp_Code %></td>       
                                                            <td><%= dbH.Termination_Date %></td>       
                                                            <td><%= dbH.Rehire_Date %></td>       
                                                            <td><%= dbH.Last_Review_Date %></td>                                                                                                                          
                                                          </tr>
                                                      <%   } %>  
                                                <% }) %> 
                                                <% }) %> 
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                                <h6 class="card-title m-t-40"><i class="m-r-5 font-18 mdi mdi-numeric-4-box-multiple-outline"></i> Emergency_Contacts</h6>
                                <div class="table-responsive">
                                    <table class="table">
                                        <thead>
                                            <tr>
                                                <th scope="col">Employee_ID</th>     
                                                <th scope="col">Emergency_Contact_Name</th>       
                                                <th scope="col">Phone_Number</th>       
                                                <th scope="col">Relationship</th>                                                 
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr>
                                                
                                                <% dashboardE.forEach(function(dbE){  %> 
                                                    <% dashboardH.forEach(function(dbH){  %>
                                                       <%  if(dbE.Employee_Number == dbH.Employee_ID[0]){ %> 
                                                        <tr>                                                                                                               
                                                            <td><%= dbH.Employee_ID[0] %></td>  
                                                            <td><%= dbH.Emergency_Contact_Name %></td>  
                                                            <td><%= dbH.Phone_Number[0] %></td>  
                                                            <td><%= dbH.Relationship %></td>  
                                                                                                                                                                                 
                                                          </tr>
                                                      <%   } %>  
                                                <% }) %> 
                                                <% }) %> 
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                                <h6 class="card-title m-t-40"><i class="m-r-5 font-18 mdi mdi-numeric-5-box-multiple-outline"></i> Benefit_Plans</h6>
                                <div class="table-responsive">
                                    <table class="table">
                                        <thead>
                                            <tr>
                                                <th scope="col">Benefit_Plan_ID</th>   
                                                <th scope="col">Plan_Name</th>       
                                                <th scope="col">Deductable</th>     
                                                <th scope="col">Percentage_CoPay</th>                                           
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr>
                                                
                                                
                                                    <% dashboardBP.forEach(function(dbB){  %>
                                                      
                                                        <tr>                                                                                                               
                                                            <td><%= dbB.Benefit_Plan_ID %></td> 
                                                            <td><%= dbB.Plan_Name %></td>  
                                                            <td><%= dbB.Deductable %></td>
                                                            <td><%= dbB.Percentage_CoPay %></td>                                                                                                                         
                                                          </tr>
                                              
                                       
                                                <% }) %> 
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                                 
                            </div>
                            
                        </div>
                    </div>
                 
                </div>
                <!-- ============================================================== -->
                <!-- End PAge Content -->
                <!-- ============================================================== -->
                <!-- ============================================================== -->
                <!-- Right sidebar -->
                <!-- ============================================================== -->
                <!-- .right-sidebar -->
                <!-- ============================================================== -->
                <!-- End Right sidebar -->
                <!-- ============================================================== -->
            </div>
            <!-- ============================================================== -->
            <!-- End Container fluid  -->
            <!-- ============================================================== -->
            <!-- ============================================================== -->
            <!-- footer -->
            <!-- ============================================================== -->
            <footer class="footer text-center">
                All Rights Reserved by Nice admin. Designed and Developed by
                <a href="https://wrappixel.com">WrapPixel</a>.
            </footer>
            <!-- ============================================================== -->
            <!-- End footer -->
            <!-- ============================================================== -->
        </div>
        <!-- ============================================================== -->
        <!-- End Page wrapper  -->
        <!-- ============================================================== -->
    </div>
    <!-- ============================================================== -->
    <!-- End Wrapper -->
    <!-- ============================================================== -->
    <!-- ============================================================== -->
    <!-- All Jquery -->
    <!-- ============================================================== -->
    <script src="../../assets/libs/jquery/dist/jquery.min.js"></script>
    <!-- Bootstrap tether Core JavaScript -->
    <script src="../../assets/libs/popper.js/dist/umd/popper.min.js"></script>
    <script src="../../assets/libs/bootstrap/dist/js/bootstrap.min.js"></script>
    <!-- slimscrollbar scrollbar JavaScript -->
    <script src="../../assets/extra-libs/sparkline/sparkline.js"></script>
    <!--Wave Effects -->
    <script src="../../dist/js/waves.js"></script>
    <!--Menu sidebar -->
    <script src="../../dist/js/sidebarmenu.js"></script>
    <!--Custom JavaScript -->
    <script src="../../dist/js/custom.min.js"></script>
</body>

</html>