<link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
<!------ Include the above in your HEAD tag ---------->

<!DOCTYPE html>
<html>
<head>
	<title></title>
	<link rel="stylesheet" type="text/css" href="/stylesheets/update.css">

	
</head>
<body    >
  <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
  <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
  <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
  <!------ Include the above in your HEAD tag ---------->
  
  <link href="https://fonts.googleapis.com/css?family=Oswald:700|Patua+One|Roboto+Condensed:700" rel="stylesheet">
  <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
  <section id="contact" class="content-section text-center">
          <div class="contact-section">
              <div class="container">
                <h2>Contact Us</h2>
                <p>Feel free to shout us by feeling the contact form or visiting our social network sites like Fackebook,Whatsapp,Twitter.</p>
                <div class="row">
                  <div class="col-md-8 col-md-offset-2">
                    <form class="form-horizontal"  method="POST" action="capnhap" >
                      <div class="form-group">
                        <label for="exampleInputName2">ID</label>
                        <input name="ID" type="text" class="form-control" id="exampleInputName2" placeholder="Jane Doe">
                      </div>
                      <div class="form-group" >
                        <label for="exampleInputName2">firt name</label>
                        <input name="firt_name" type="text" class="form-control" id="exampleInputName2" placeholder="Jane Doe">
                      </div>
                      <div class="form-group">
                        <label for="exampleInputName2">last name</label>
                        <input name="last_name" type="text" class="form-control" id="exampleInputName2" placeholder="Jane Doe">
                      </div>
                      <div class="form-group">
                        <label for="exampleInputName2">Pay_Amount</label>
                        <input name="pay" type="text" class="form-control" id="exampleInputName2" placeholder="Jane Doe">
                      </div>
                      <div class="form-group">
                        <label for="exampleInputName2">Phone Number</label>
                        <input name="phone" type="text" class="form-control" id="exampleInputName2" placeholder="Jane Doe">
                      </div>
                      <div class="form-group">
                        <label for="exampleInputName2">Giới tính</label>
                        <input name="gioitinh" type="text" class="form-control" id="exampleInputName2" placeholder="Jane Doe">
                      </div>                 
                      <button type="submit" class="btn btn-default">cập nhập</button>
                    </form>
  
                    <hr>
                      <h3>Our Social Sites</h3>
                    <ul class="list-inline banner-social-buttons">
                      <li><a href="#" class="btn btn-default btn-lg"><i class="fa fa-twitter"> <span class="network-name">Twitter</span></i></a></li>
                      <li><a href="#" class="btn btn-default btn-lg"><i class="fa fa-facebook"> <span class="network-name">Facebook</span></i></a></li>
                      <li><a href="#" class="btn btn-default btn-lg"><i class="fa fa-youtube-play"> <span class="network-name">Youtube</span></i></a></li>
                    </ul>
                  </div>
                </div>
              </div>
          </div>
        </section>
</body>
</html>